CI_ENVIRONMENT = development
app.baseURL = 'http://localhost:8080/'
app.forceGlobalSecureRequests = false
database.default.hostname = db
database.default.database = counterpart
database.default.username = counterpart
database.default.password = change-me
database.default.DBDriver = MySQLi
database.default.port = 3306
session.cookieName = counterpart_session
session.cookieSecure = false
session.cookieHTTPOnly = true
session.cookieSameSite = Lax
DEMO_SEED_ENABLED = false
DEMO_ADMIN_USERNAME = admin
DEMO_ADMIN_PASSWORD = 'Counterpart!2026'
avatar.driver = local
# For ephemeral hosts, set avatar.driver=object and configure an HTTPS object gateway:
# avatar.object.putUrlTemplate = 'https://gateway.example/avatars/{key}'
# avatar.object.deleteUrlTemplate = 'https://gateway.example/avatars/{key}'
# avatar.object.publicBaseUrl = 'https://cdn.example/avatars'
# avatar.object.bearerToken = ''
